 <!-- jumbotron Section 1/ top -->
 <!-- lambo image goes in "headers section in the Css styling sheet-->
    <section class="Jumbotron">
      <div class="Cartalk-description">
        <h2>The Latest Car information At Your fingertips! </h2>
        <p>
          Find the latest car reviews for some of the hottest cars on the market! 
          Look at our array of car options and select YES for any of the cars you are intrested in seeing their data and reviews! 
          Want to contribute to a global endevour? Feel free to create your own reviews and make comments as well!
        </p>
      </div>

 <div class="car-form">
        <h3>Find Car Reviews Today In Minutes!</h3>
        <p>Select YES on a car option to get car data and reviews. 
           Select NO to not get any data or reviews for a car option.</p>
        <form>
          <!--Car 1 -->
          <span class="radio-wrapper">
            <input type="radio" name="car1-confirm" id="car1-yes" />
            <label for="car1-yes">Yes</label>
          </span>
          <span class="radio-wrapper">
            <input type="radio" name="car1-deny" id="car1-no"/>
            <label for="car1-no">No</label>
          </span>

          <!--Car 2 -->
          <span class="radio-wrapper">
            <input type="radio" name="car2-confirm" id="car2-yes" />
            <label for="car2-yes">Yes</label>
          </span>
          <span class="radio-wrapper">
            <input type="radio" name="car2-deny" id="car2-no"/>
            <label for="car2-no">No</label>
          </span>

          <!--Car 3 -->
          <span class="radio-wrapper">
            <input type="radio" name="car3-confirm" id="car3-yes" />
            <label for="car3-yes">Yes</label>
          </span>
          <span class="radio-wrapper">
            <input type="radio" name="car3-deny" id="car3-no"/>
            <label for="car3-no">No</label>
          </span>
        </p>
          <button type="submit">
            Get Car Reviews!
          </button>
        </form>
      </div>
    </section>

  <!-- Section 2 : About us -->
  <!-- Find out which class you will assign to this - check bootstrap for stacked row options-->
    <section id="about-us">
       <h2 class="section-title primary-border">
        About Us
      </h2>
      </div>

      <div class="flex-row">
      <p>
        butcher selfies chambray shabby chic gentrify readymade yr Echo Park XOXO Tumblr normcore Banksy direct trade  Blue Bottle chillwave you probably haven't heard of them single-origin coffee Vice fanny pack fixie Odd Future Austin fingerstache pickled twee synth Wes Anderson Thundercats viral bitters flannel meggings narwhal Marfa Schlitz sustainable Intelligentsia umami deep v craft
      </p>
      </div>
    </section>

    <!--Results From API and Car Options -->

    <!-- section for API results-->
    

    <!-- section for car 1-3 options with images list -->
    <section id="car-options">
      <div class="flex-row">
      <h2 class="section-title secondary-border">
        Car Options List
      </h2> 
      </div>

      <div class="options">
        <h3>Car Option 1</h3>
        <div class="car-info">
          <div class="car-img">
            <!-- find image for car option 1-->
          <img src="./assets/images/" alt="" />
          </div>

          <div class="car-text">
            <h4>Information on Car 1</h4>
            <p>Car 1 info -------------------</p>
          </div>
        </div>
      </div>

       <div class="options">
        <h3>Car Option 2</h3>
        <div class="car-info">
          <div class="car-img">
            <!-- find image for car option 2-->
          <img src="./assets/images/" alt="" />
          </div>

          <div class="car-text">
            <h4>Information on Car 2</h4>
            <p>Car 2 info -------------------</p>
          </div>
        </div>
      </div>

       <div class="options">
        <h3>Car Option 3</h3>
        <div class="car-info">
          <div class="car-img">
            <!-- find image for car option 3-->
          <img src="./assets/images/" alt="" />
          </div>

          <div class="car-text">
            <h4>Information on Car 3</h4>
            <p>Car 3 info -------------------</p>
          </div>
        </div>
      </div>

<!-- This need to be attatched to whatever the RESUKTS page will be TBD-->
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>