
  * {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  }

  .parallax {
    /* The image used */
    background-image: url("https://user-images.githubusercontent.com/87105978/141719817-c55bd888-bd6c-4565-9873-d48212e23c6a.jpeg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  a {
    text-decoration: none;
    color: rgb(88, 86, 86);
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: silver;
  }
  
  button {
    background-color: rgb(0, 0, 0);
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: rgb(223, 0, 223);
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid rgb(223, 0, 223);
  }
  
  textarea {
    width: 100%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    line-height: 1.6em;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    /* css styling for header image and background new code 11/14 -Hibram */
    /* background-image: url('public\stylesheets\images\arrow.jpg') */
    background-image: url('public\stylesheets\images\lambo.jpeg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 50%;
    z-index: 9999;
  }
  
  header h1 {
    font-size: 3em;
    box-align: center;
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }

  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  /* ol {
    width: 100%;
  } */
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
    border: solid rgb(104, 101, 101);
    border-radius: 5px;
  }
  
  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;
    width: 100%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 100%;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }